<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Salar</h1></a>
        <p>A Salar Al Ali Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>