<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body>
    <%- include('./partials/nav.ejs')  %> 
    <div class="about content">
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, nisi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, nisi!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, nisi!</p>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>